.mobile-menu {
    position: absolute;
    padding-top: 60px;
    top: 0;
    left: 0;
    width: 100%;
    height: 502px;
    background-color: #E17992;

    transform: translateX(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: $transitionTimingFunction;
    


    @media screen and (min-width: 768px) {
        width: 254px;
        height: 100vh;
        transform: translateX(-100%); 
    }

    @media screen and (min-width: 1200px) {
        display: none;
        }
    

    &.is-hidden {
        transform: translateX(0);
    }
 
    &__link {
    display: block;
    padding: 13px 0 11px 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    color: #ffffff;
    border: 1px solid #E18298;  
    }

}

