.site-nav {

    &__list {
        display: none; 

    @media screen and (min-width: 768px) {
        display: none;
     
        }   
    
    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: 128px; 
        }   
    }
    
    
    
    &__item:not(:last-child) {
        margin-right: 35px;   
    }
    &__link {
        color: #ffffff;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.31;
    }
}
.mobile-menu__button {
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    fill: #d41443;
    margin-left: auto;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: $transitionTimingFunction;

    @media screen and (min-width: 768px) {
        margin-left: 293px;
        }  

    @media screen and (min-width: 1200px) {
        display: none;
        }  
}


.mobile-menu__button--close {
    position: absolute;
    fill: #ffffff;
    right: 20px;
    top: 20px;
}